In [1]:
import pandas as pd

In [ ]:
dataset = {"Name": ['John', 'Jane', 'Steven', 'Albert', 'Felicity', 'Joan', 'Alicia'], "Age": [99, 98, 97, 96, 95, 94, 93], "Gender": ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female'], "Salary":[99999,88888,77777,66666, 5555, 4444, 33333]}
df = pd.DataFrame(dataset)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.ndim

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.axes

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
df.empty

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df['Age'].min()

In [ ]:
df['Age'].max()

In [ ]:
df['Age'].std()

In [ ]:
df['Salary'].min()

In [ ]:
df['Salary'].max()

In [ ]:
df['Salary'].std()

In [ ]:
df['Gender'].unique()

In [ ]:
df['Gender'].nunique()

In [ ]:
df['Gender'].value_counts()

In [ ]:
df['Gender'].value_counts(ascending=True)

In [ ]:
df.sample()

In [ ]:
df.iloc[0]

In [ ]:
df.loc[0]

In [ ]:
df.loc[df['Name'] == 'John']

In [ ]:
df.iloc[0:3]

In [ ]:
df = pd.read_excel('practice.xlsx')

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.rename(columns={'EEID': 'Emp ID'}, inplace=True)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df = pd.read_excel('ESD.xlsx')

In [ ]:
df

In [ ]:
df.rename(columns={'Hire Date': 'Hire_Date'}, inplace=True)

In [ ]:
df.rename(columns={'End Date': 'End_Date'}, inplace=True)

In [ ]:
df

In [ ]:
df['Job Title'].unique()

In [ ]:
df_srm = df[df['Job Title'] == 'Sr. Manger']

In [ ]:
df_srm

In [ ]:
df_business = df[df['Business Unit'] == 'Research & Development']

In [ ]:
df_business

In [ ]:
df_gb1 = df.groupby(['Department']).aggregate({'EEID' : 'count'})

In [ ]:
df_gb1

In [ ]:
df_gb2 = df.groupby(['Department', 'Gender']).aggregate({'EEID': 'count'})

In [ ]:
df_gb2

In [ ]:
df_gb2 = df.groupby(['Country', 'Gender', 'Department']).aggregate({'EEID': 'count'})

In [ ]:
df_gb2

In [ ]:
df_gb3 = df.groupby(['Country', 'Gender']).aggregate({'Annual Salary': 'max'})

In [ ]:
df_gb3

In [ ]:
dataset = {"Name": ['John', 'Jane', 'Steven', 'Albert', 'Felicity', 'Joan', 'Alicia'], "Age": [99, 98, 97, 96, 95, 94, 93], "Emp ID": [1,2,3,4,5,6,7]}
df = pd.DataFrame(dataset)

In [ ]:
dataset2 = {"Gender": ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female'], "Salary":[99999,88888,77777,66666, 5555, 4444, 33333], "Emp ID": [1,2,3,4,5,6,7]}
df2 = pd.DataFrame(dataset2)

In [ ]:
df3_left = pd.merge(df, df2, on="Emp ID", how="left")

In [ ]:
df3

In [ ]:
df3_left = pd.merge(df, df2, on="Emp ID", how="left")

In [ ]:
df3_left

In [ ]:
df3_right = pd.merge(df, df2, on="Emp ID", how="right")

In [ ]:
df3_right

In [ ]:
dataset1 = {"Name": ['John', 'Jane', 'Steven', 'Albert', 'Felicity', 'Joan', 'Alicia'], "Age": [99, 98, 97, 96, 95, 94, 93], "Gender": ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female'], "Salary":[99999,88888,77777,66666, 5555, 4444, 33333], "Emp ID": [1,2,3,4,5,6,7]}
df4 = pd.DataFrame(dataset1)
dataset2 = {"Name": ['John', 'Jane', 'Steven', 'Albert', 'Felicity', 'Joan', 'Alicia'], "Age": [99, 98, 97, 96, 95, 94, 93], "Gender": ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female'], "Salary":[99999,88888,77777,66666, 5555, 4444, 33333], "Emp ID": [8,9,10,11,12,13,14]}
df5 = pd.DataFrame(dataset2)

In [2]:
dataset5 = {"Fruits": ['Apple', 'Pineapple', 'Mango', 'Guava'], "Price": [1,2,3,4], "Quantity": [1,2,3,4]}

In [3]:
df5 = pd.DataFrame(dataset5)

In [5]:
dataset6 = df5.copy

In [9]:
dataset5.iloc[0, Fruits] = "Banana"

AttributeError: 'dict' object has no attribute 'iloc'

In [ ]:
data = {""}