In [1]:
from sklearn.datasets import load_wine

In [6]:
df = pd.read_excel('winequality.xlsx')

In [7]:
df

       type  fixed acidity  volatile acidity  ...  sulphates  alcohol  quality
0     white            7.0             0.270  ...       0.45      8.8        6
1     white            6.3             0.300  ...       0.49      9.5        6
2     white            8.1             0.280  ...       0.44     10.1        6
3     white            7.2             0.230  ...       0.40      9.9        6
4     white            7.2             0.230  ...       0.40      9.9        6
...     ...            ...               ...  ...        ...      ...      ...
6492    red            6.2             0.600  ...       0.58     10.5        5
6493    red            5.9             0.550  ...        NaN     11.2        6
6494    red            6.3             0.510  ...       0.75     11.0        6
6495    red            5.9             0.645  ...       0.71     10.2        5
6496    red            6.0             0.310  ...       0.66     11.0        6

[6497 rows x 13 columns]

In [4]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:
df2 = df.copy()

In [13]:
print('Original dataframe shape=', df.shape)

Original dataframe shape= (6497, 13)

In [14]:
df['residual sugar'].describe()

count    6495.000000
mean        5.444326
std         4.758125
min         0.600000
25%         1.800000
50%         3.000000
75%         8.100000
max        65.800000
Name: residual sugar, dtype: float64

In [15]:
df2.loc[(df['residual sugar'])<ul, 'residual sugar'] = ul

NameError: name 'ul' is not defined

In [ ]:
df2.loc[(df['residual sugar'])>li, 'residual sugar'] = li

In [ ]:
sns.boxplot(df['residual sugar'])