In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn

In [2]:
df=pd.read_csv("/home/smee/docs/clgdocs/TY/SEM V/ML/DATASET/Social_Net_class.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [4]:
# Replace NaN values with the mean of the column
df.fillna(df.mean(), inplace=True)

/tmp/ipykernel_23127/2164119501.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [5]:
x=df[['Age','EstimatedSalary']].values
y=df['Purchased'].values

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

In [7]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(max_depth=6,random_state=45)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8625

In [8]:
for i in range(1,100):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = i)
    model = DecisionTreeClassifier(max_depth=6, random_state=i)
    model.fit(x_train, y_train)
    print(i, model.score(x_test, y_test))

1 0.85
2 0.8916666666666667
3 0.8583333333333333
4 0.9083333333333333
5 0.875
6 0.8916666666666667
7 0.8583333333333333
8 0.8833333333333333
9 0.8833333333333333
10 0.9166666666666666
11 0.875
12 0.8083333333333333
13 0.9083333333333333
14 0.9
15 0.8916666666666667
16 0.9083333333333333
17 0.8583333333333333
18 0.9
19 0.9
20 0.8666666666666667
21 0.875
22 0.8666666666666667
23 0.8916666666666667
24 0.9166666666666666
25 0.8916666666666667
26 0.9083333333333333
27 0.8666666666666667
28 0.8333333333333334
29 0.9
30 0.875
31 0.8916666666666667
32 0.8416666666666667
33 0.9166666666666666
34 0.875
35 0.85
36 0.9166666666666666
37 0.8666666666666667
38 0.875
39 0.875
40 0.9
41 0.925
42 0.9
43 0.8583333333333333
44 0.8916666666666667
45 0.8583333333333333
46 0.8916666666666667
47 0.8833333333333333
48 0.8833333333333333
49 0.8666666666666667
50 0.8666666666666667
51 0.8666666666666667
52 0.8583333333333333
53 0.825
54 0.9083333333333333
55 0.8833333333333333
56 0.8583333333333333
57 0.9
58 0.9083333333333333
59 0.8666666666666667
60 0.8666666666666667
61 0.875
62 0.8416666666666667
63 0.8416666666666667
64 0.875
65 0.8916666666666667
66 0.875
67 0.8666666666666667
68 0.925
69 0.8916666666666667
70 0.8666666666666667
71 0.825
72 0.9166666666666666
73 0.9083333333333333
74 0.9166666666666666
75 0.8583333333333333
76 0.925
77 0.85
78 0.8666666666666667
79 0.825
80 0.9
81 0.8583333333333333
82 0.8333333333333334
83 0.8416666666666667
84 0.8666666666666667
85 0.8916666666666667
86 0.875
87 0.825
88 0.8916666666666667
89 0.85
90 0.9083333333333333
91 0.875
92 0.8666666666666667
93 0.875
94 0.8416666666666667
95 0.8916666666666667
96 0.8166666666666667
97 0.8666666666666667
98 0.825
99 0.8916666666666667

## Here, accuracy score is 91.6% for multiple random states like 10 and 33