In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/home/smee/docs/clgdocs/TY/SEM V/ML/DATASET/titanic.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 'columns', inplace = True)

In [7]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [8]:
x = df.drop(['Survived'], axis = 'columns')

In [9]:
y = df.Survived

In [10]:
dummies = pd.get_dummies(x.Sex)

In [11]:
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [12]:
x = pd.concat([x, dummies], axis = 'columns')

In [13]:
x.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [14]:
x.drop(['Sex', 'male'], axis = 'columns', inplace = True)

In [15]:
x.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

## Data preprocessing

In [16]:
x.columns[x.isna().any()]

Index(['Age'], dtype='object')

In [17]:
x.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [18]:
x.Age = x.Age.fillna(x.Age.mean())

In [19]:
x.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [22]:
from sklearn.naive_bayes import GaussianNB

In [23]:
model = GaussianNB()

In [24]:
model.fit(x_train, y_train)

GaussianNB()

In [25]:
model.score(x_test, y_test)

0.7947761194029851

In [26]:
x_test[:10]

     Pclass        Age     Fare  female
379       3  19.000000   7.7750       0
668       3  43.000000   8.0500       0
807       3  18.000000   7.7750       1
166       1  29.699118  55.0000       1
735       3  28.500000  16.1000       0
408       3  21.000000   7.7750       0
576       2  34.000000  13.0000       1
135       2  23.000000  15.0458       0
469       3   0.750000  19.2583       1
762       3  20.000000   7.2292       0

In [27]:
y_test[:10]

379    0
668    0
807    0
166    1
735    0
408    0
576    1
135    0
469    1
762    1
Name: Survived, dtype: int64

In [28]:
model.predict(x_test[:10])

array([0, 0, 1, 1, 0, 0, 1, 0, 1, 0])

In [29]:
model.predict_proba(x_test[:10])

array([[0.95870064, 0.04129936],
       [0.96621802, 0.03378198],
       [0.47698878, 0.52301122],
       [0.05121977, 0.94878023],
       [0.96560856, 0.03439144],
       [0.9604671 , 0.0395329 ],
       [0.33212217, 0.66787783],
       [0.9155932 , 0.0844068 ],
       [0.32926822, 0.67073178],
       [0.95947574, 0.04052426]])

In [30]:
from sklearn.model_selection import cross_val_score

In [31]:
cross_val_score(GaussianNB(), x_train, y_train, cv = 5)

array([0.76      , 0.736     , 0.752     , 0.7983871 , 0.75806452])