In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn

In [2]:
df=pd.read_csv("/home/smee/docs/clgdocs/TY/SEM V/ML/DATASET/Social_Net_class.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [4]:
# Replace NaN values with the mean of the column
df.fillna(df.mean(), inplace=True)

/tmp/ipykernel_70490/2164119501.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [5]:
x=df[['Age','EstimatedSalary']].values
y=df['Purchased'].values

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

In [7]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier(max_depth=6,random_state=45)
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8625

In [ ]:
for i in range(1,100):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = i)
    model = DecisionTreeC()
    model.fit(x_train, y_train)
    print(i, model.score(x_test, y_test))