In [1]:
import pandas as pd
import datetime

In [2]:
import pandas as pd  
lst = [['Jay', 25], ['ram', 30],
       ['Jai', 26], ['jui', 22]]
    
df = pd.DataFrame(lst, columns =['Name', 'Age'])
df

  Name  Age
0  Jay   25
1  ram   30
2  Jai   26
3  jui   22

In [3]:
import pandas as pd  
lst = [['Jay', 25], ['ram', 30],
       ['Jai', 26], ['jui', 22]]
df1 = pd.Series((i[0] for i in lst))
df1

0    Jay
1    ram
2    Jai
3    jui
dtype: object

In [5]:
df = pd.read_csv("people100.csv")

In [6]:
df1 = pd.DataFrame(df)

In [7]:
print(df1)

    Index          User Id First Name  Last Name  Gender  \
0       1  88F7B33d2bcf9f5     Shelby    Terrell    Male
1       2  f90cD3E76f1A9b9    Phillip    Summers  Female
2       3  DbeAb8CcdfeFC2c   Kristine     Travis    Male
3       4  A31Bee3c201ef58    Yesenia   Martinez    Male
4       5  1bA7A3dc874da3c       Lori       Todd    Male
..    ...              ...        ...        ...     ...
95     96  5eFda7caAeB260E     Dennis     Barnes  Female
96     97  CCbFce93d3720bE      Steve  Patterson  Female
97     98  2fEc528aFAF0b69     Wesley       Bray    Male
98     99  Adc7ad9B6e4A1Fe     Summer   Oconnell  Female
99    100  b8D0aD3490FC7e1     Mariah    Bernard    Male

                         Email                   Phone Date of birth  \
0         elijah57@example.net  001-084-906-7849x73518      26-10-45
1        bethany14@example.com       214.112.6044x4913      24-03-10
2        bthompson@example.com            277.609.7938      02-07-92
3    kaitlinkaiser@example.com            584.094.6111      03-08-17
4   buchananmanuel@example.net       689-207-3558x7233      01-12-38
..                         ...                     ...           ...
95         bmartin@example.org    001-095-524-2112x257      30-07-54
96       latasha46@example.net        001-865-478-5157      29-04-32
97        regina11@example.org      995-542-3004x76800      28-12-94
98  alexiscantrell@example.org    001-273-685-6932x092      12-04-12
99       pcopeland@example.org     (341)594-6554x44657      15-11-16

                Job Title
0         Games developer
1          Phytotherapist
2               Homeopath
3       Market researcher
4      Veterinary surgeon
..                    ...
95      Software engineer
96              Barrister
97         Police officer
98   Broadcast journalist
99  IT sales professional

[100 rows x 9 columns]

In [8]:
df2 = pd.DataFrame(df,columns=['First Name','Email','Phone','Job Title'])

In [9]:
result = df2.loc[df1['Job Title'].str.contains('Teacher|Lawyer')]

In [10]:
print("Result:\n",result.to_string())

Result:
    First Name                         Email                   Phone                 Job Title
8        Dave           nmccann@example.net      603-428-2429x27392                    Lawyer
18      Alvin  gilbertdonaldson@example.com      219.436.0887x07551  Teacher, adult education
86    Chelsea   johnnyhendricks@example.net  001-698-651-0138x18588  Teacher, early years/pre

In [11]:
df3 = pd.DataFrame(df,columns=['First Name','Phone','Job Title','Date of birth'])

In [12]:
df['Date of birth'] = df['Date of birth'].astype('datetime64[ns]')

In [13]:
df4 = df['Date of birth']>'1950,1995'

In [14]:
result1 = df3.loc[df1['Job Title'].str.contains('scientist|engineer')]

In [15]:
print("Result:\n",result1.to_string())

Result:
     First Name                  Phone                           Job Title Date of birth
17       Frank      429.965.3902x4447              Audiological scientist      16-09-08
23      Janice  001-249-314-9742x6996                   Drilling engineer      01-11-99
31  Jacqueline          (247)762-8934          Building services engineer      25-02-99
35      Melody          (826)792-7381  Research scientist (life sciences)      25-06-63
59       Grace     (034)867-8827x6777                  Petroleum engineer      15-10-09
70        Ryan    +1-695-557-9948x485             Physiological scientist      06-10-20
73    Veronica  +1-521-589-2387x48490                 Structural engineer      08-06-74
82    Reginald    +1-832-500-6044x475          Contracting civil engineer      08-02-10
85       Mario     160-144-5039x12276  Research scientist (life sciences)      08-07-90
88       Harry                  -6354            Technical sales engineer      24-08-47
95      Dennis   001-095-524-2112x257                   Software engineer      30-07-54